<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable static content -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>

        <!-- URL Rewrite for clean URLs and SPA-like behavior -->
        <rewrite>
            <rules>
                <!-- Redirect to HTTPS -->
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Remove .html extension -->
                <rule name="Remove .html extension" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Add .html extension for clean URLs -->
                <rule name="Add .html extension" stopProcessing="true">
                    <match url="^([^.]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Custom error pages -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- HTTP Headers for security and caching -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>

        <!-- Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
